# Copyright (C) 2015, 2016 Nicolas Lamirault <nicolas.lamirault@gmail.com>

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#
# GRUB configuration : /boot/grub/grub.cfg
#

# Timeout for menu
set timeout=30

# Default boot entry
set default=0

# See http://wiki.rosalab.ru/en/index.php/Grub2_theme_/_reference#colors_console
# set menu_color_normal=brown/dark-gray
# set menu_color_highlight=white/light-blue
# export menu_color_normal
# export menu_color_highlight

set drive_label=muk
set isopath=/boot/iso
export drive_label
export isopath

# export theme

# Boot from disk by default
menuentry "Boot from First HD (default)" {
  chainloader +1
}

# Boot ISOs

submenu "ArchLinux" {
        configfile /boot/grub/arch.cfg
}

submenu "Ubuntu" {
        configfile /boot/grub/ubuntu.cfg
}

submenu "CentOS" {
        configfile /boot/grub/centos.cfg
}

submenu "Fedora" {
        configfile /boot/grub/fedora.cfg
}

submenu "Linux Mint" {
        configfile /boot/grub/mint.cfg
}

submenu "Kali" {
          configfile /boot/grub/kali.cfg
}

menuentry ' ' { # Empty line
  true
}
menuentry "Shutdown"  {
  halt
}
menuentry "Reboot" {
  reboot
}